In [1]:
import pandas as pd

In [18]:
test_file

,ID,Incident_Date,Alarm_DtTm,Arrival_DtTm,Close_DtTm,zipcode,Battalion,Station_Area,Suppression_Units,Suppression_Personnel,...,Ignition_Cause,Ignition_Factor_Primary,Ignition_Factor_Secondary,Heat_Source,Structure_Type,Number_of_floors_with_minimum_damage,Number_of_floors_with_significant_damage,Number_of_floors_with_heavy_damage,Number_of_floors_with_extreme_damage,Supervisor_District
0,80283040,2008-04-01,2008-04-01T18:06:37,2008-04-01T18:15:19,2008-04-01T18:21:48,94110,B06,11,1,4,...,_ _,_ _,_ _,_ _,_ _,0.0,0.0,0.0,0.0,9.0
1,80283030,2008-04-01,2008-04-01T18:00:52,2008-04-01T18:06:30,2008-04-01T18:22:18,94107,B10,37,1,4,...,_ _,_ _,_ _,_ _,_ _,0.0,0.0,0.0,0.0,10.0
2,80283090,2008-04-01,2008-04-01T18:42:06,2008-04-01T18:45:23,2008-04-01T18:53:25,94105,B03,01,10,35,...,_ _,_ _,_ _,_ _,_ _,0.0,0.0,0.0,0.0,NaN
3,80283140,2008-04-01,2008-04-01T19:03:52,2008-04-01T19:08:39,2008-04-01T19:35:36,94102,B02,36,1,4,...,_ _,_ _,_ _,_ _,_ _,0.0,0.0,0.0,0.0,5.0
4,80283190,2008-04-01,2008-04-01T19:16:12,2008-04-01T19:23:48,2008-04-01T19:28:49,94121,B07,14,1,4,...,_ _,_ _,_ _,_ _,_ _,0.0,0.0,0.0,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
205726,100174530,2010-02-26,2010-02-26T11:41:45,2010-02-26T11:47:11,2010-02-26T11:50:31,94133,B01,28,1,4,...,_ _,_ _,_ _,_ _,_ _,0.0,0.0,0.0,0.0,NaN
205727,100174580,2010-02-26,2010-02-26T12:19:09,2010-02-26T12:22:07,2010-02-26T13:23:29,94109,B02,03,1,4,...,_ _,_ _,_ _,_ _,_ _,0.0,0.0,0.0,0.0,5.0
205728,100174630,2010-02-26,2010-02-26T12:38:28,2010-02-26T12:41:34,2010-02-26T13:40:38,94132,B08,19,1,4,...,_ _,_ _,_ _,_ _,_ _,0.0,0.0,0.0,0.0,7.0
205729,100174710,2010-02-26,2010-02-26T13:02:21,2010-02-26T13:07:05,2010-02-26T13:28:44,94112,B09,43,3,11,...,_ _,_ _,_ _,_ _,_ _,0.0,0.0,0.0,0.0,11.0
205730,100174740,2010-02-26,2010-02-26T13:11:38,2010-02-26T13:17:17,2010-02-26T13:27:29,94112,B09,43,1,4,...,_ _,_ _,_ _,_ _,_ _,0.0,0.0,0.0,0.0,11.0

In [17]:
test_file = csv_file = pd.read_csv("./Fire_Incidents_after_preprocessing.csv", header=0, low_memory=False)

In [19]:
csv_file.to_csv("./Fire_Incidents_after_preprocessing.csv", header=True, index=False)

In [4]:
csv_file = pd.read_csv("./Fire_Incidents_after_preprocessing.csv", header=0, low_memory=False)

In [8]:
csv_file.shape

(656268, 35)

In [7]:
csv_file

,ID,Incident_Date,Alarm_DtTm,Arrival_DtTm,Close_DtTm,City,zipcode,Battalion,Station_Area,Suppression_Units,...,Ignition_Cause,Ignition_Factor_Primary,Ignition_Factor_Secondary,Heat_Source,Structure_Type,Number_of_floors_with_minimum_damage,Number_of_floors_with_significant_damage,Number_of_floors_with_heavy_damage,Number_of_floors_with_extreme_damage,Supervisor_District
0,80283040,2008-04-01,2008-04-01T18:06:37,2008-04-01T18:15:19,2008-04-01T18:21:48,San Francisco,94110,B06,11,1,...,_ _,_ _,_ _,_ _,_ _,0.0,0.0,0.0,0.0,9.0
1,80283030,2008-04-01,2008-04-01T18:00:52,2008-04-01T18:06:30,2008-04-01T18:22:18,San Francisco,94107,B10,37,1,...,_ _,_ _,_ _,_ _,_ _,0.0,0.0,0.0,0.0,10.0
2,80283090,2008-04-01,2008-04-01T18:42:06,2008-04-01T18:45:23,2008-04-01T18:53:25,San Francisco,94105,B03,01,10,...,_ _,_ _,_ _,_ _,_ _,0.0,0.0,0.0,0.0,NaN
3,80283140,2008-04-01,2008-04-01T19:03:52,2008-04-01T19:08:39,2008-04-01T19:35:36,San Francisco,94102,B02,36,1,...,_ _,_ _,_ _,_ _,_ _,0.0,0.0,0.0,0.0,5.0
4,80283190,2008-04-01,2008-04-01T19:16:12,2008-04-01T19:23:48,2008-04-01T19:28:49,San Francisco,94121,B07,14,1,...,_ _,_ _,_ _,_ _,_ _,0.0,0.0,0.0,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
656263,240185810,2024-02-06,2024-02-06T06:08:09,2024-02-06T06:12:48,2024-02-06T07:05:37,San Francisco,94133,B01,28,1,...,_ _,_ _,_ _,_ _,_ _,0.0,0.0,0.0,0.0,3.0
656264,240245400,2024-02-17,2024-02-17T15:45:09,2024-02-17T15:47:52,2024-02-17T16:00:56,San Francisco,94109,B04,03,3,...,_ _,_ _,_ _,_ _,_ _,0.0,0.0,0.0,0.0,NaN
656265,240246310,2024-02-17,2024-02-17T19:45:43,2024-02-17T19:50:10,2024-02-17T19:55:23,San Francisco,94109,B01,41,3,...,_ _,_ _,_ _,_ _,_ _,0.0,0.0,0.0,0.0,3.0
656266,240309820,2024-03-01,2024-03-01T18:24:40,2024-03-01T18:27:52,2024-03-01T18:36:21,San Francisco,94133,B01,28,3,...,_ _,_ _,_ _,_ _,_ _,0.0,0.0,0.0,0.0,NaN
656267,231650840,2023-12-07,2023-12-07T20:24:00,2023-12-07T20:34:56,2023-12-07T20:57:42,San Francisco,94131,B06,26,1,...,_ _,_ _,_ _,_ _,_ _,0.0,0.0,0.0,0.0,NaN

In [11]:
new_csv_file = csv_file[csv_file["City"] == "San Francisco"]

In [12]:
new_csv_file

,ID,Incident_Date,Alarm_DtTm,Arrival_DtTm,Close_DtTm,City,zipcode,Battalion,Station_Area,Suppression_Units,...,Ignition_Cause,Ignition_Factor_Primary,Ignition_Factor_Secondary,Heat_Source,Structure_Type,Number_of_floors_with_minimum_damage,Number_of_floors_with_significant_damage,Number_of_floors_with_heavy_damage,Number_of_floors_with_extreme_damage,Supervisor_District
0,80283040,2008-04-01,2008-04-01T18:06:37,2008-04-01T18:15:19,2008-04-01T18:21:48,San Francisco,94110,B06,11,1,...,_ _,_ _,_ _,_ _,_ _,0.0,0.0,0.0,0.0,9.0
1,80283030,2008-04-01,2008-04-01T18:00:52,2008-04-01T18:06:30,2008-04-01T18:22:18,San Francisco,94107,B10,37,1,...,_ _,_ _,_ _,_ _,_ _,0.0,0.0,0.0,0.0,10.0
2,80283090,2008-04-01,2008-04-01T18:42:06,2008-04-01T18:45:23,2008-04-01T18:53:25,San Francisco,94105,B03,01,10,...,_ _,_ _,_ _,_ _,_ _,0.0,0.0,0.0,0.0,NaN
3,80283140,2008-04-01,2008-04-01T19:03:52,2008-04-01T19:08:39,2008-04-01T19:35:36,San Francisco,94102,B02,36,1,...,_ _,_ _,_ _,_ _,_ _,0.0,0.0,0.0,0.0,5.0
4,80283190,2008-04-01,2008-04-01T19:16:12,2008-04-01T19:23:48,2008-04-01T19:28:49,San Francisco,94121,B07,14,1,...,_ _,_ _,_ _,_ _,_ _,0.0,0.0,0.0,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
656263,240185810,2024-02-06,2024-02-06T06:08:09,2024-02-06T06:12:48,2024-02-06T07:05:37,San Francisco,94133,B01,28,1,...,_ _,_ _,_ _,_ _,_ _,0.0,0.0,0.0,0.0,3.0
656264,240245400,2024-02-17,2024-02-17T15:45:09,2024-02-17T15:47:52,2024-02-17T16:00:56,San Francisco,94109,B04,03,3,...,_ _,_ _,_ _,_ _,_ _,0.0,0.0,0.0,0.0,NaN
656265,240246310,2024-02-17,2024-02-17T19:45:43,2024-02-17T19:50:10,2024-02-17T19:55:23,San Francisco,94109,B01,41,3,...,_ _,_ _,_ _,_ _,_ _,0.0,0.0,0.0,0.0,3.0
656266,240309820,2024-03-01,2024-03-01T18:24:40,2024-03-01T18:27:52,2024-03-01T18:36:21,San Francisco,94133,B01,28,3,...,_ _,_ _,_ _,_ _,_ _,0.0,0.0,0.0,0.0,NaN
656267,231650840,2023-12-07,2023-12-07T20:24:00,2023-12-07T20:34:56,2023-12-07T20:57:42,San Francisco,94131,B06,26,1,...,_ _,_ _,_ _,_ _,_ _,0.0,0.0,0.0,0.0,NaN

In [13]:
new_csv_file = new_csv_file[[col for col in new_csv_file.columns if col != "City"]]

In [14]:
new_csv_file.shape

(641695, 34)

In [16]:
new_csv_file.to_csv("./Fire_Incidents_after_preprocessing_new.csv", header=True, index=False)

In [16]:
csv_file = pd.read_csv("./Fire_Incidents_after_preprocessing_new.csv", header=0, low_memory=False)

In [5]:
# csv_file["Incident_Date"] = pd.to_datetime(csv_file["Incident_Date"])

In [14]:
# csv_file = csv_file[
#     (csv_file["Incident_Date"].dt.year >= 2013)
#     & (csv_file["Incident_Date"].dt.year <= 2023)
# ]

In [21]:
cols: list[str] = list(csv_file.columns)

In [22]:
cols

['ID',
 'Incident_Date',
 'Alarm_DtTm',
 'Arrival_DtTm',
 'Close_DtTm',
 'zipcode',
 'Battalion',
 'Station_Area',
 'Suppression_Units',
 'Suppression_Personnel',
 'EMS_Units',
 'EMS_Personnel',
 'Other_Units',
 'Other_Personnel',
 'Estimated_Property_Loss',
 'Estimated_Contents_Loss',
 'Fire_Fatalities',
 'Fire_Injuries',
 'Civilian_Fatalities',
 'Civilian_Injuries',
 'Number_of_Alarms',
 'Primary_Situation',
 'Action_Taken_Primary',
 'Property_Use',
 'Ignition_Cause',
 'Ignition_Factor_Primary',
 'Ignition_Factor_Secondary',
 'Heat_Source',
 'Structure_Type',
 'Number_of_floors_with_minimum_damage',
 'Number_of_floors_with_significant_damage',
 'Number_of_floors_with_heavy_damage',
 'Number_of_floors_with_extreme_damage',
 'Supervisor_District']

In [23]:
filter_cols: list[str] = filter(lambda x: x.split("_")[-1] == "Desc", cols)

In [26]:
list(filter_cols)

[]